

.employee-list-header {
  background-color: #1DA1F2;
  color: white;
  padding: 20px;
  font-size: 24px;
  width: 100%;
}
.employee-list-container{
  background-color: #F2F2F2;
  height: 100vh; 
  margin: 0;
  padding: 0;

}

.no-employees {
  text-align: center;
  font-size: 18px;
  background-color: #F2F2F2;
  margin-top: 50px;
}

.employee-subheader{
  background-color: rgba(249, 248, 245, 0.867);
  color: #1DA1F2; 
  padding: 20px;
  width: 100%; 
  max-width: 500px; 
  
  border-radius: 8px; 
  font-size: 18px;
  box-sizing: border-box; 
}

.content{
  background-color: white;
}
.add-employee-btn {
  position: fixed;
  height: 60px;
  width: 60px;
  right: 20px;
  bottom: 20px;
  background-color: #007bff; 
  color: white;
  padding: 15px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.add-employee-btn i {
  font-size: 20px;
}

.add-employee-btn:hover {
  background-color: #0056b3; 
}

.image_No{
  width: 200px;
  height: 400px;
  text-align: center;
}
.employee-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-left: 10px;
  width: 49 0px;
  height: 104px;
  
  border-bottom: 1px dotted #ddd;
}

.employee-name{
  width: 103px;
  
height: 20px;
font-family: 'Roboto';
font-style: normal;
 font-weight: 500;
font-size: 16px;
line-height: 20px;
}




@media (max-width: 768px) {
  .employee-subheader {
    font-size: 16px; 
    padding: 15px; 
  }
}


@media (max-width: 600px) {
  .employee-subheader {
    font-size: 14px; 
    padding: 12px; 

  }
  .employee-list-header {
    font-size: 20px;
    padding: 15px;
  }

  .add-employee-btn {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
}

